.products {
  background-color: #00203FFF;
  color: white;
  padding: 25px;
}

.divider {
  border-bottom: 2px solid white;
}

.header {
  padding: 10px;
  margin-bottom: 25px;
  background-color: #F6D55C;
}
